{%extends "base.html"%}
{%block content%}
<div class="container-main">
    <div class="dashboard-header">
        <div class="dashboard-inner">
            <h1>All Transcripts</h1>
        </div>
    </div>
    <div class="dashboard-grid"> 
        {%for transcript in transcripts%}
            {%if transcript.transcriptor.id == current_user.id %}
            <div class="transcript">
                <h1 class="transcript-content" id="transcript-title">{{transcript.title}}</h1>
                <p class="transcript-content">{{transcript.content}}</p>
                <p class="transcript-content" id="transcript-author">{{transcript.author}} : {{transcript.date_added}}</p>
                <div class="btn-container">
                    <a href="{{url_for('flaskclass_transcript', id=transcript.id)}}" class="btn-primary">View <i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="{{url_for('delete_transcript', id=transcript.id)}}" class="btn-primary btn-warning"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div> 
            {%endif%}
        {%endfor%}
    </div>
</div>
{%endblock%}