{%extends "base.html"%}
{%block content%}
<div class="container-primary form-container">
    <div class="user-container">
        <h1>Update User</h1>
        <form action="/update/user/{{update_user.id}}" method="POST" class="user-form">
            {{form.hidden_tag()}}

            {{form.name.label}}
            {{form.name(value=update_user.name, class_="form-input")}}

            {{form.email.label}}
            {{form.email(value=update_user.email, class_="form-input")}}

            <button type="submit" class="btn-primary">Update <i class="fa-solid fa-pen-to-square"></i></button>
        </form>
        <a href="{{url_for("delete_user", id=update_user.id)}}" class="btn-primary btn-warning">Delete Account</a>
    </div>
</div>
{%endblock%}